<div class="container-fluid">
  <h2><center><%= @inventory.name.upcase %></center></h2>
  <% if @inventory.items.exists? %>
    <% @inventory.items.each do |item| %>
      <ul class="container list-group list-group-flush">
        <li class="list-group-item">
          <strong>Name:</strong> <%= item.name %><br>
          <strong>Count:</strong> <%= item.count %><br>
        </li>
        <%= link_to "Update count", edit_inventory_item_path(item.inventory_id, item) %>
      </ul>
    <% end %><br>
    <strong>Add a new item:</strong><br><br>
    <div><%= render "items/form", inventory: @inventory %></div>
  <% else %>
    <strong>No items currently present!</strong><br><br>
    <strong>Add a new item:</strong><br><br>
    <div><%= render "items/form", inventory: @inventory %></div>  
  <% end %><br>
</div>