<br>
<h3><%= @inventory.name.upcase %></h3>
<span>
  <%= link_to "Delete Inventory", inventory_path(@inventory), 
    data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    }, class: "btn btn-outline-danger" %>
</span><br><br>
<% if @inventory.items.exists? %>
  <strong>Items: </strong><br>
  <%= render @inventory.items %>

  <strong>Add a new item:</strong><br>
  <%= render "items/form" %>
<% else %>
  <h4>Inventory is empty!</h4><br>
  <strong>Add a new item:</strong><br>
  <%= render "items/form" %>
<% end %>